/*Edmundo Mendez*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Main Styles*/

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/*CSS Variables*/
:root{
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --darkgray: #222222;
    --lightgray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
	--montserrat: 'Montserrat', san-serif;
	--molle: 'Molle', serif;
}

/*Global Styles*/
* {
	box-sizing: border-box;
	line-height: 1.35 em;
}


body {
	margin: 0 auto;
	padding-top: 30px;
	width: 320px;
	background-image: linear-gradient(to bottom, var(--teal), var(--white));
}

#skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/*Header styling*/
header {
	width: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

header img {
	width: 80%;
}

header h1 {
	font-family: var(--molle);
	font-size: 50px;
	grid-column: 1;
	grid-row: 2;
	padding-bottom: 10px;
}

header p {
	font-family: var(--montserrat);
	font-size: large;
	font-weight: 200;
	grid-column: 1;
	grid-row: 3;
	padding-bottom: 30px;
	line-height: 1.5em;

}

/*Nav Styling*/

header nav {
	grid-column: 2;
	grid-row: 1;
}

#menu-toggle{
	display: block;
	position: relative;
	top: 50px;
	left: 50px;  
	z-index: 1;
}

#menu-toggle a {
	text-decoration: none;
	color: #232323;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
  }

  #menu-toggle input {
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: -7px;
	left: -5px;  
	padding: 0;
	cursor: pointer;  
	opacity: 0; /* hide this */
	z-index: 2; /* and place it over the hamburger */  
	-webkit-touch-callout: none;
  }

#menu-toggle label {
	position: relative;
	display: block;
	width: 30px;
	height: 30px;
}

#menu-toggle label span {
	display: none;
}

#menu-toggle label div {
	display: block;
	width: 30px;
	height: 2px;
	margin-bottom: 6px;
	position: relative;
	background: #cdcdcd;
	border-radius: 3px;  
	z-index: 1;  
	-webkit-transform-origin: 4px 0px;  
		-ms-transform-origin: 4px 0px;  
			transform-origin: 4px 0px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
  }



.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
  }


/*Main Content Styling*/
/*Intro Styling*/
#intro h2 {
	font-family: var(--molle);
	font-size: 40px;
	padding-bottom: 15px;
}

#intro p {
	font-family: var(--montserrat);
	line-height: 2em;
	padding-bottom: 20px;
}

#intro img {
	width: 300px;
	height: 150px;
	padding-bottom: 10px;
}

#intro picture img {
	width: 300px;
	height: 150px;
	object-fit: fill;
	padding-bottom: 30px;
}

/*Plan Your Trip Styling*/

#plan {
	background-color: var(--yellow);
	
}


#plan h3 {
	font-family: var(--molle);
	font-size: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
}

#plan h4 {
	font-family: var(--montserrat);
	font-size: 20px;
	color: var(--white);
	text-transform: uppercase;
	padding-left: 60px;
}

#plan img {
	padding: 60px;
	width: 75%;
}

#plan section {
	background-color: var(--teal);
	display: grid;
	grid-column: 1;
	align-items: center;
	margin: 0 auto;
	block-size: 50x;
	border-radius: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 4px;
	border-style: solid;
	border-color: var(--white);
}

/*Testimonials stying*/

#testimonials {
	background-color: var(--white);
	display: grid;
	grid-template-columns: 1fr;
}

#testimonials div {
	display: grid;
	grid-template-columns: 1fr;
	padding-left: 50px;
}


#testimonials h3 {
	font-family: var(--molle);
	font-size: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
}

#testimonials h4 {
	font-family: var(--montserrat);
	font-size: 40px;
	justify-content: center;
}

#testimonials p {
	font-family: var(--montserrat);
	font-size: 15px;
	justify-content: center;
}

#testimonials q {
	font-family: var(--montserrat);
	font-size: 15px;
	font-style: italic;
	align-items: center;
}

/*About*/

#about {
	background-color: var(--blue);
	margin: 0;
} 

#about div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	padding: 10px;
}

#about h3 {
	font-family: var(--molle);
	font-size: 30px;
	padding-left: 50px;
}

#about img {
	width: 75px;
}

#about section:nth-child(1) {
	grid-column: 1;
	grid-row: 1;
}

#about section:nth-child(2) {
	grid-column: 2;
	grid-row: 1;

}

#about section:nth-child(3) {
	grid-column: 1;
	grid-row: 2;

}

#about section:nth-child(3) {
	grid-column: 2;
	grid-row: 2;

}

#about h4, #about p{
	font-family: var(--montserrat);
}

/*Contact Styling*/

#contact {
	display: block;
	width: 300px;
	margin: 0 auto;
	padding: 1em;
	background-color: var(--white);
}

#contact h3 {
	font-family: var(--molle);
	font-size: 30px;
}

input, label, fieldset {
	display: inline-block;
	color: var(--black);
	font-family: var(--montserrat);
	font-weight: bold;
}

fieldset{
	border: 1px solid #222;
	padding: 0.5em 0 1em 0.5em;
	margin: 0.75em 0 0.25em 0;
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
}

input[type=submit]{
	padding: 0.75em;
	width: 90%;
	height: auto;
	margin: 0 auto;
	padding-top: 5px;
	color: var(--white);
	background-color: var(--purple);
	border: none;
	font-family: var(--montserrat);
	text-transform: uppercase;
}

textarea{
	width: 100%;
	height: 5em;
	margin-bottom: 1em;
}


Medium Screen
@media screen and (min-width: 500px) {
	body {
		width: 768px;
	}		
}

/*Large Screen
@media screen and (min-width: 1920px) {
	body {
		width: 768px;
	}		
} */